ZOTERO_LIBRARY_ID=
ZOTERO_LIBRARY_TYPE=user
ZOTERO_API_KEY=
EMBEDDING_MODEL=all-MiniLM-L6-v2
OPENAI_API_KEY=
OPENAI_BASE_URL=http://localhost:1234/v1
OPENAI_EMBEDDING_MODEL=text-embedding-nomic-embed-text-v1.5
